<p-dialog
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px' }"
  [draggable]="false"
  position="bottom">
  @if (formGroup && player) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <app-textinput
          formControlName="Name"
          label="Player Name"
          [entityType]="entityType"
          [hiddenFields]="hideFields"></app-textinput>
        <app-checkbox formControlName="IsRealPerson" label="Is Real Person"></app-checkbox>

        <app-tags
          formControlName="Tags"
          label="Tags"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options$]="tagList$"></app-tags>

        <div class="dialog-footer">
          <div>
            <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
          </div>
          <div>
            <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
            <p-button label="Save" [outlined]="true" (onClick)="submit()"></p-button>
          </div>
        </div>
      </form>
    </div>
  }
</p-dialog>
