<app-dialog [title]="title" [visible]="editorVisible" (visibleChange)="closeEditor.emit()" [editor]="true">
  @if (formGroup && player) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit(false)">
        <div class="flex-grow gap-8 width-100">
          <app-textinput
            formControlName="Name"
            label="Player Name"
            [entityType]="entityType"
            [appHide]="hideFields"></app-textinput>
          <app-dropdown
            formControlName="PreferredName"
            [entityType]="entityType"
            [appHide]="hideFields"
            [options]="nameShortenings"
            optionLabel="label"
            optionValue="value"></app-dropdown>
        </div>

        <app-textinput
          formControlName="Nickname"
          label="Player Nickname"
          [entityType]="entityType"
          [appHide]="hideFields"></app-textinput>

        <app-checkbox formControlName="IsRealPerson" label="Is Real Person"></app-checkbox>

        <app-tags
          formControlName="Tags"
          label="Tags"
          filterBool="DisplayOnPlayers"
          [entityType]="entityType"
          [appHide]="hideFields"
          [options$]="tagList$"></app-tags>
      </form>
    </div>
  }
  <ng-container class="dialog-footer">
    @if (formGroup && player) {
      <div>
        <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
      </div>
      <div>
        <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
        @if (standalone) {
          <p-button label="Save" [outlined]="true" (onClick)="submit(false)"></p-button>
        }
        <p-button label="Save & Close" [outlined]="true" (onClick)="submit(true)"></p-button>
      </div>
    }
  </ng-container>
</app-dialog>
