<app-editor-player
  [editorVisible]="playerEditorVisible"
  [player]="playerEdit"
  [standalone]="true"
  (closeEditor)="playerEditorVisible = false"></app-editor-player>

<p-dialog
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px' }"
  [draggable]="false"
  position="bottom">
  @if (formGroup && playerGame) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="flex gap-4 justify-content-space-between">
          <app-dropdown
            style="flex-grow: 1"
            formControlName="PlayerId"
            label="Player"
            [entityType]="entityType"
            [hiddenFields]="hideFields"
            [options]="(playerList$ | async) ?? []"
            optionLabel="Name"
            optionValue="PlayerId"
            [showClear]="false"></app-dropdown>
          <p-button (onClick)="addPlayer()" pTooltip="New Player" icon="pi pi-plus"></p-button>
        </div>
        @if (scoreType === 'points') {
          <app-number-input
            formControlName="Points"
            label="Points"
            [entityType]="entityType"
            [hiddenFields]="hideFields"
            [boardGame]="playerGame.Game?.BoardGame"></app-number-input>
        }
        @if (scoreType === 'win-lose') {
          <app-checkbox formControlName="Points" label="Won Game" [hiddenFields]="hideFields"></app-checkbox>
        } @else if (scoreType === 'rank') {
          <app-checkbox formControlName="DNF" label="Did Not Finish" [hiddenFields]="hideFields"></app-checkbox>
        }

        <app-tags
          formControlName="Tags"
          label="Tags"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options$]="tagList$"></app-tags>

        <div class="dialog-footer">
          <div>
            <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
          </div>
          <div>
            <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
            <p-button label="Apply" [outlined]="true" (onClick)="submit()"></p-button>
          </div>
        </div>
      </form>
    </div>
  }
</p-dialog>
