<div style="max-height: calc(100dvh - 140px); overflow: auto">
  <div style="display: flex; flex-direction: column; gap: 2rem">
    <div class="trophy-list">
      <div class="trophy-header">🏆 Board Game Trophies 🏆</div>

      @for (t of trophies; track $index) {
        <ng-container *ngTemplateOutlet="trophy; context: t"></ng-container>
      }
    </div>

    <ng-template #trophy let-emoji="emoji" let-title="title" let-info="info" let-array="array" let-value="value">
      <div class="trophy">
        <div class="trophy-details">
          <span class="trophy-icon">{{ emoji }}</span>
          <div>
            <div class="trophy-content">
              <span class="trophy-title">{{ title }}</span>
              <span class="trophy-winner">{{ array | array: ['Nickname', 'Name'] }}</span>
            </div>
            <div class="trophy-info">
              <small>{{ info }}</small>
            </div>
          </div>
        </div>
        <span class="trophy-count">{{ value }}</span>
      </div>
    </ng-template>

    <div class="heatmap-wrapper">
      <div class="flex gap-1 heatmap">
        <div class="flex-column dow">
          <span>Mon</span>
          <span>Wed</span>
          <span>Fri</span>
        </div>
        @for (week of heatmap; track week) {
          <div class="flex-column gap-1 week">
            <div class="month-text">{{ week.month }}</div>
            @for (day of week.days; track day) {
              <div
                class="box"
                [pTooltip]="day.tooltip"
                [ngStyle]="{ 'background-color': day.color }">
                {{ day.icon }}
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="card">
      <h3 style="text-align: center">
        Play Count by Day of Week:
        <span>Last 12 months</span>
      </h3>
      <p-chart type="bar" [data]="countByDayData" [options]="countByDayOptions" [plugins]="chartPlugins" />
    </div>

    <div class="card">
      <h3 style="text-align: center">
        Total Play Count by Month:
        <span>Last 12 months</span>
      </h3>
      <p-chart type="bar" [data]="countByMonthData" [options]="countByMonthOptions" [plugins]="chartPlugins" />
    </div>

    <div class="card">
      <h3 style="text-align: center">Wins Over Time</h3>
      <p-chart type="line" [data]="winsOverTimeData" [options]="winsOverTimeOptions" [plugins]="chartPlugins" />
    </div>

    <div class="card">
      <h3 style="text-align: center">Rank Over Time</h3>
      <p-chart type="line" [data]="rankOverTimeData" [options]="rankOverTimeOptions" [plugins]="chartPlugins" />
    </div>
  </div>
</div>
