<div style="max-height: calc(100dvh - 150px); overflow: auto">
  <div style="display: flex; flex-direction: column; gap: 2rem">
    <div class="trophy-list">
      <div class="trophy-header">🏆 Trophies 🏆</div>

      <table>
        @for (t of trophies; track $index) {
          <tr>
            <td class="trophy-icon">
              <span>{{ t.emoji }}</span>
              @if (t.formula) {
                <i class="info-icon pi pi-info-circle" [pTooltip]="t.formula"></i>
              }
            </td>
            <td class="trophy-content">
              <div>
                <span class="trophy-title">{{ t.title }}</span>
                <small>{{ t.subtitle }}</small>
              </div>
            </td>
            <td>
              <span class="trophy-winner">{{ t.array | array: ['Nickname', 'Name'] }}</span>
            </td>
            <td class="trophy-count">
              @if (t.showValue) {
                <span>{{ t.value | number }}</span>
              }
            </td>
          </tr>
        }
      </table>
    </div>

    <div class="heatmap-wrapper">
      <h3 style="text-align: center">
        Plays
        <p-selectbutton
          [options]="heatmapState"
          [(ngModel)]="heatmapStateValue"
          optionLabel="name"
          optionValue="value"
          aria-labelledby="basic" />
      </h3>
      <div class="flex gap-1 heatmap">
        <div class="flex-column dow">
          <span>Mon</span>
          <span>Wed</span>
          <span>Fri</span>
        </div>
        @for (week of heatmap; track week.key) {
          <div class="flex-column gap-1 week">
            <div class="month-text">{{ week.month }}</div>
            @for (day of week.days; track $index) {
              <div
                class="box"
                [pTooltip]="heatmapStateValue ? day.tooltipAll : day.tooltip"
                [ngStyle]="{ 'background-color': heatmapStateValue ? day.colorAll : day.color }">
                {{ day.icon }}
              </div>
            }
          </div>
        }
      </div>
    </div>

    @if (gameTypeMeter.length > 0) {
      <div class="card">
        <h3 style="text-align: center">Scoring Types</h3>
        <p-metergroup [value]="gameTypeMeter" [max]="gameTypeMeterMax" />
      </div>
    }
    @if (boardGameMeter.length > 0) {
      <div class="card">
        <h3 style="text-align: center">Games</h3>
        <p-metergroup [value]="boardGameMeter" [max]="boardGameMeterMax" />
      </div>
    }

    @if (ShowCharts) {
      @if (rankOverTimeOptions) {
        <div class="card">
          <h3 style="text-align: center">Rank Over Time</h3>
          <p-chart type="line" [data]="rankOverTimeData" [options]="rankOverTimeOptions" [plugins]="chartPlugins" />
        </div>
      }

      @if (countByDayOptions) {
        <div class="card">
          <h3 style="text-align: center">Play Count by Day of Week</h3>
          <p-chart type="bar" [data]="countByDayData" [options]="countByDayOptions" [plugins]="chartPlugins" />
        </div>
      }

      @if (countByMonthOptions) {
        <div class="card">
          <h3 style="text-align: center">Total Play Count by Month</h3>
          <p-chart type="bar" [data]="countByMonthData" [options]="countByMonthOptions" [plugins]="chartPlugins" />
        </div>
      }

      @if (winsOverTimeOptions) {
        <div class="card">
          <h3 style="text-align: center">Wins Over Time</h3>
          <p-chart type="line" [data]="winsOverTimeData" [options]="winsOverTimeOptions" [plugins]="chartPlugins" />
        </div>
      }
    }
  </div>
</div>
