<div style="max-height: calc(100dvh - 140px); overflow: auto">
  <div style="display: flex; flex-direction: column; gap: 2rem">
    <div class="trophy-list">
      <div class="trophy-header">🏆 Board Game Trophies</div>

      <!-- Player Trophies -->

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '👑',
            title: 'The Game Master',
            info: 'Most Wins',
            array: stats?.MostWinsPlayers,
            value: stats?.MostWins
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🧩',
            title: 'Jack Of All Trades',
            info: 'Most Unique BoardGame Wins',
            array: stats?.MaxUniqueWinsPlayers,
            value: stats?.MaxUniqueWins
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🔥',
            title: 'The Hot Streak',
            info: 'Longest Win Streak',
            array: stats?.LongestWinStreakPlayers,
            value: stats?.LongestWinStreak
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🕺',
            title: 'The Comeback Kid',
            info: 'Longest Streak Between Wins',
            array: stats?.BestComebackPlayers,
            value: stats?.BestComeback
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🤝',
            title: 'The Great Compromiser',
            info: 'Most Ties',
            array: stats?.MostTiesPlayers,
            value: stats?.MostTies
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🥋',
            title: 'The Weekend Warrior',
            info: 'Most Wins On the Weekend',
            array: stats?.MostWeekendWinsPlayers,
            value: stats?.MostWeekendWins
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '1️⃣',
            title: 'The One Hit Wonder',
            info: 'Only Win 1 Game',
            array: stats?.OnlyWon1Game,
            value: stats?.OnlyWon1Game?.length
          }
        "></ng-container>

      <!-- Game Trophies -->

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🥇',
            title: 'The Fan Favorite',
            info: 'Most Played Game',
            array: stats?.MostPlaysGames,
            value: stats?.MostPlays
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '🕹️',
            title: 'Just One More Game',
            info: 'Most Games Played In One Day',
            array: stats?.MostPlaysOneDayDate,
            value: stats?.MostPlaysOneDay
          }
        "></ng-container>

      <ng-container
        *ngTemplateOutlet="
          trophy;
          context: {
            emoji: '3️⃣',
            title: 'Favorite 3 Player',
            info: 'Game played most with 3 players',
            array: stats?.Fav3PlayerGame,
            value: stats?.Fav3Player
          }
        "></ng-container>
    </div>

    <ng-template #trophy let-emoji="emoji" let-title="title" let-info="info" let-array="array" let-value="value">
      <div class="trophy">
        <div class="trophy-details">
          <span class="trophy-icon">{{ emoji }}</span>
          <div>
            <div class="trophy-content">
              <span class="trophy-title">{{ title }}</span>
              <span class="trophy-winner">{{ array | array: 'Name' }}</span>
            </div>
            <div class="trophy-info">
              <small>{{ info }}</small>
            </div>
          </div>
        </div>
        <span class="trophy-count">{{ value }}</span>
      </div>
    </ng-template>

    <div class="heatmap-wrapper">
      <div class="flex gap-1 heatmap">
        <div class="flex-column dow">
          <span>Mon</span>
          <span>Wed</span>
          <span>Fri</span>
        </div>
        <div class="flex-column gap-1 week" *ngFor="let week of heatmap">
          <div class="month-text">{{ week.month }}</div>
          <div
            class="box"
            *ngFor="let day of week.days"
            [pTooltip]="day.tooltip"
            [ngStyle]="{ 'background-color': day.color }">
            {{ day.icon }}
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h3 style="text-align: center">
        Play Count by Day of Week:
        <span>Last 12 months</span>
      </h3>
      <p-chart type="bar" [data]="countByDayData" [options]="countByDayOptions" [plugins]="chartPlugins" />
    </div>

    <div class="card">
      <h3 style="text-align: center">
        Total Play Count by Month:
        <span>Last 12 months</span>
      </h3>
      <p-chart type="bar" [data]="countByMonthData" [options]="countByMonthOptions" [plugins]="chartPlugins" />
    </div>

    <div class="card">
      <h3 style="text-align: center">Wins Over Time</h3>
      <p-chart type="line" [data]="winsOverTimeData" [options]="winsOverTimeOptions" [plugins]="chartPlugins" />
    </div>

    <div class="card">
      <h3 style="text-align: center">Rank Over Time</h3>
      <p-chart type="line" [data]="rankOverTimeData" [options]="rankOverTimeOptions" [plugins]="chartPlugins" />
    </div>
  </div>
</div>
