<p-dialog
  [header]="headerText"
  [visible]="true"
  (visibleChange)="closeForm.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px' }"
  [draggable]="false"
  position="bottom">
  <!-- PASSWORD CHANGE -->
  <div>
    <div class="flex-column">
      <form [formGroup]="passChangeFormGroup" (ngSubmit)="changePassword()">
        <app-password formControlName="CurrentPassword"  label="Password"></app-password>
        <app-password formControlName="Password" label="New Password" [feedback]="true" [entityType]="entityType"></app-password>
        <app-password formControlName="PasswordRetry" label="Confirm New Password" [entityType]="entityType"></app-password>
        <p-button label="Change Password" [outlined]="true" (click)="changePassword()"></p-button>
      </form>
    </div>
  </div>
</p-dialog>
