:host ::ng-deep {
  .p-float-label input:not(:focus):not(.p-filled) ~ label {
    top: 1.4rem;
  }

  span.p-float-label {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .p-dialog {
    max-width: 400px;
    margin: 64px auto 0px;

    .p-card-title {
      text-align: center;
    }

    .p-dialog-content {
      padding-top: 0;

      .p-inputtext,
      .p-password,
      .p-button {
        width: 100%;
      }

      .p-button {
        margin: 24px 0;
      }
    }
  }
}
