:host ::ng-deep {
  .p-dialog {
    max-width: 400px;
    margin: 64px auto 0px;

    .p-card-title {
      text-align: center;
    }

    .p-dialog-content {
      padding-top: 0;

      .p-inputtext,
      .p-password,
      .p-button {
        width: 100%;
      }

      .p-button {
        margin: 0 0 24px 0;
      }
    }
  }
}
