<div style="height: calc(100dvh - 140px)">
  @let players = (players$ | async) ?? [];
  @let cols = filterColumns(players);
  <p-table
    [value]="players"
    [columns]="cols"
    dataKey="PlayerId"
    [scrollable]="true"
    [stripedRows]="true"
    scrollHeight="flex"
    class="p-datatable-striped p-datatable-sm"
    sortField="WinCount"
    [sortOrder]="-1"
    [tableStyle]="{ 'min-width': '50rem' }"
    [expandedRowKeys]="expandedRows">
    <ng-template #header let-columns>
      <tr>
        <th id="expansion" style="width: 0" id="blank"></th>
        @for (column of columns; track column) {
          <th id="{{ column.field }}" [pSortableColumn]="column.sort ? column.field : undefined" [id]="column.field">
            {{ column.name }}
            @if (column.sort) {
              <p-sortIcon [field]="column.field" />
            }
          </th>
        }
        @if (canEdit) {
          <th pFrozenColumn alignFrozen="right" id="edit" class="edit-header" id="edit">Edit</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-player let-columns="columns" let-expanded="expanded">
      <tr>
        <td>
          @if (player.PlayerGames.length > 0) {
            <p-button
              type="button"
              pRipple
              [pRowToggler]="player"
              [text]="true"
              [rounded]="true"
              [plain]="true"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
          }
        </td>
        @for (column of columns; track column) {
          <td>
            @switch (column.field) {
              @case ('Name') {
                {{ player.Name }}
                @if (player.hasMostWins) {
                  <i class="pi pi-crown" style="color: gold"></i>
                }
              }
              @case ('WinCount') {
                <span>{{ player.WinCount | hide: '0' | number: '1.0-0' }}</span>
                @if (player.WinCount > 0) {
                  <div
                    class="bar-percent"
                    [ngStyle]="{ width: (player.WinCount / (mostWins.value || 1)) * 100 + '%' }"></div>
                }
              }
              @case ('LossCount') {
                {{ player.LossCount | hide: '0' | number: '1.0-0' }}
              }
              @case ('BestGames') {
                {{ player.BestGames | array: 'Name' }}
              }
              @case ('BestGameWins') {
                {{ player.BestGameWins | hide: '0' | number: '1.0-0' }}
              }
              @case ('FirstSeen') {
                {{ player.FirstSeen | date: 'MM/dd/yy' }}
              }
              @case ('Tags') {
                <div class="tag-wrapper">
                @for (tag of player.Tags; track tag.TagId) {
                  <app-tag [tag]="tag"></app-tag>
                }
                </div>
              }
            }
          </td>
        }
        @if (canEdit) {
          <td pFrozenColumn alignFrozen="right">
            <p-button (onClick)="playerEdit.emit(player)" icon="pi pi-pencil" [rounded]="true" [text]="true"></p-button>
          </td>
        }
      </tr>
    </ng-template>

    <!-- Row Expansion -->
    <ng-template #expandedrow let-player>
      <tr>
        <td></td>
        <td [attr.colspan]="cols.length">
          <p-table [value]="player.PlayerGames" class="p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
              <tr>
                <th id="won">Won</th>
                <th id="date">Date</th>
                <th id="game">Game</th>
                <th id="points">Points</th>
              </tr>
            </ng-template>
            <ng-template #body let-playerGame>
              <tr>
                <td>
                  <app-trophy-icon [score]="playerGame"></app-trophy-icon>
                </td>
                <td>
                  {{ playerGame.Game.Date | date: 'MM/dd/yy' }}
                </td>
                <td>
                  <div class="tag-wrapper">
                  <span>{{ playerGame.Game.BoardGame.Name }}</span>
                  
                  @for (tag of playerGame.Tags; track tag.TagId) {
                    <app-tag [tag]="tag"></app-tag>
                  }
                  </div>
                </td>
                <td>
                  @if (showScore(playerGame.Game)) {
                    {{ playerGame.Points | number: '1.0-3' | score: playerGame.Game.BoardGame }}
                  }
                </td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
