<div style="height: calc(100dvh - 150px)">
  @let games = ((players$ | async) ?? []);
  <app-table
    [columns]="columns"
    [rows]="games"
    [canEdit]="canEdit"
    (edit)="playerEdit.emit($event)"
    (expand)="openPlayerDetail($event)"
    dataKey="PlayerId"
    sortBy="WinCount">
    <ng-template templateId="Name" let-player>
      @if (player.Nickname) {
        {{ player.Nickname }} - {{ player.Name }}
      } @else {
        {{ player.Name }}
      }

      @if (player.hasMostWins) {
        <i class="pi pi-crown" style="color: gold"></i>
      }
    </ng-template>
    <ng-template templateId="WinCount" let-player>
      <span>{{ player.WinCount | hide | number: '1.0-0' }}</span>
      @if (player.WinCount > 0) {
        <div class="bar-percent" [ngStyle]="{ width: (player.WinCount / (mostWins.value || 1)) * 100 + '%' }"></div>
      }
    </ng-template>
    <ng-template templateId="BestGameWins" let-player>
      {{ player.BestGameWins | hide | number: '1.0-0' }} - {{ player.BestGames | map: 'Name' }}
    </ng-template>
  </app-table>
</div>

<app-player-detail [visible]="playerDetailsShow" [player]="playerDetails!" (closeDetails)="playerDetailsShow = false"></app-player-detail>