<p-dialog
  contentStyleClass="tag-editor-dialog"
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px' }"
  [draggable]="false"
  appendTo="body"
  position="bottom">
  <div class="flex gap-8">
    @for (t of tags$ | async; track t) {
      <app-tag (click)="editTag(t)" [tag]="t"></app-tag>
    }
    <app-tag (click)="newTag()" [tag]="addTagTag" icon="pi pi-plus"></app-tag>
  </div>
  @if (formGroup && tag) {
    <div class="tag-display items-center">
      <p-tag
        severity="contrast"
        [value]="formGroup.value.Text"
        [style]="{ color: formGroup.value.Color, background: bgColor }" />
    </div>

    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <app-textinput
          formControlName="Text"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [autoFocus]="true"></app-textinput>

        <div class="flex-nowrap gap-8">
          <div class="color-list gap-8">
            <app-textinput
              formControlName="Color"
              [entityType]="entityType"
              [hiddenFields]="hideFields"></app-textinput>
            <div class="flex gap-8">
              @for (preset of presetColors; track preset) {
                <p-button variant="outlined" [severity]="preset.severity" (onClick)="setColor(preset.color)">
                  {{ [preset.text] }}
                </p-button>
              }
            </div>
          </div>
          <p-colorpicker
            [(ngModel)]="formGroup.value.Color"
            (onChange)="setColor($event.value)"
            [ngModelOptions]="{ standalone: true }"
            [inline]="true"
            defaultColor="000000" />
        </div>

        <div class="dialog-footer">
          <div>
            <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
          </div>
          <div>
            <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="cancelEdit()"></p-button>
            <p-button label="Save" [outlined]="true" (onClick)="submit()"></p-button>
          </div>
        </div>
      </form>
    </div>
  }
</p-dialog>
