:host ::ng-deep {
  .p-colorpicker {
    align-self: center;
    margin-top: 4px;
    border: solid 4px white;
    border-radius: 8px;
  }

  .tag-display {
    display: flex;
    justify-content: center;
    height: 60px;
    .p-tag {
      transform: scale(1.75);
    }
  }

  .tag-display-table {
    border-collapse: collapse;
    th,
    td {
      border: solid 1px var(--p-surface-600);
      padding: 4px;
      .checkbox-wrapper {
        justify-content: center;
        margin: 0;
      }
    }
  }
}
