<app-dialog [title]="title" [visible]="editorVisible" [form]="formGroup" (closeDialog)="closeEditor.emit()">
  <div class="dialog-title dialog-header">
    <span>{{ title }}</span>
    <div class="grow"></div>
    @if (usageCount > 0) {
      <p-button
        icon="pi pi-list"
        severity="secondary"
        [rounded]="true"
        pTooltip="Show Usage"
        badge="{{ usageCount }}"
        (click)="showTagUsage()" />
    }
  </div>

  @if (formGroup && tag) {
    <div class="tag-display items-center">
      <p-tag
        severity="contrast"
        [value]="formGroup.value.Text"
        [style]="{ color: formGroup.value.Color, background: bgColor }" />
    </div>

    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit(false)">
        <app-textinput
          formControlName="Text"
          [entityType]="entityType"
          [autoFocus]="true"
          [appHide]="hideFields"></app-textinput>

        <div class="flex align-center gap-4">
          <p-colorpicker
            [ngStyle]="{ 'border-color': bgColor }"
            [(ngModel)]="formGroup.value.Color"
            (onChange)="setColor($event.value)"
            [ngModelOptions]="{ standalone: true }"
            defaultColor="000000" />
          <app-textinput formControlName="Color" [entityType]="entityType" [appHide]="hideFields"></app-textinput>

          @for (preset of presetColors; track preset) {
            <p-button variant="outlined" [severity]="preset.severity" (onClick)="setColor(preset.color)">
              {{ [preset.text] }}
            </p-button>
          }
        </div>

        <app-dropdown
          formControlName="Category"
          [entityType]="entityType"
          [appHide]="hideFields"
          [options]="categoryTypes"
          optionLabel="label"
          optionValue="value"
          [showClear]="true"></app-dropdown>

        <app-multi-select
          formControlName="BoardGameFilter"
          label="Display Only On BoardGames"
          [entityType]="entityType"
          [appHide]="hideFields"
          [options$]="boardGames$"
          [maxSelectedLabels]="9"
          optionLabel="Name"
          optionValue="BoardGameId"
          [showClear]="true"></app-multi-select>

        <table class="tag-display-table">
          <tr>
            <th rowspan="2">Editor Display</th>
            <th>Board Games</th>
            <th>Players</th>
            <th>Plays</th>
            <th>Play Scores</th>
          </tr>
          <tr>
            <td>
              <app-checkbox
                formControlName="OnBoardGames"
                label=""
                [appHide]="hideFields"
                [readOnly]="true"></app-checkbox>
            </td>
            <td>
              <app-checkbox
                formControlName="OnPlayers"
                label=""
                [appHide]="hideFields"
                [readOnly]="true"></app-checkbox>
            </td>
            <td>
              <app-checkbox formControlName="OnGames" label="" [appHide]="hideFields" [readOnly]="true"></app-checkbox>
            </td>
            <td>
              <app-checkbox
                formControlName="OnPlayerGames"
                label=""
                [appHide]="hideFields"
                [readOnly]="true"></app-checkbox>
            </td>
          </tr>
        </table>
      </form>
    </div>
  }
  <ng-container class="dialog-footer">
    @if (formGroup && tag) {
      <div>
        <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
      </div>
      <div>
        <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
        @if (standalone) {
          <p-button label="Save" [outlined]="true" (onClick)="submit(false)"></p-button>
        }
        <p-button label="Save & Close" [outlined]="true" (onClick)="submit(true)"></p-button>
      </div>
    }
  </ng-container>
</app-dialog>
