<p-table
  #table
  [value]="rows"
  [sortField]="sortBy"
  [sortOrder]="sortOrder"
  class="p-datatable-sm {{ tiny() ? 'tiny' : '' }}"
  [tableStyle]="{ 'min-width': 'min(50rem, -36px + 100vw, 100%)' }"
  [scrollable]="true"
  [stripedRows]="true"
  scrollHeight="flex"
  [virtualScroll]="virtualScroll"
  [virtualScrollItemSize]="37">
  <ng-template #header>
    <tr>
      @if (showExpansion !== false) {
        <th id="expansion" style="width: 0"></th>
      }
      @for (column of cols; track column) {
        <th
          id="{{ column.id }}"
          [pSortableColumn]="column.sort ? column.id : undefined"
          [id]="column.id"
          [ngStyle]="{'width': column.shrink ? '1px' : ''}"
          class="{{ column.class ?? '' }}">
          {{ column.name ?? (column.id | titlecase) }}
          @if (column.sort) {
            <p-sortIcon [field]="column.id" />
          }
        </th>
      }
      @if (canEdit) {
        <th pFrozenColumn alignFrozen="right" id="edit" class="edit-header">Edit</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-row let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
    @let expansion = canShowExpansion(row);
    @if (isRowSpan(row)) {
      <tr class="group-row">
        <td [attr.colspan]="rowSpanColumn() + (expansion?1:0)"></td>
        <td [attr.colspan]="cols.length - rowSpanColumn() + (canEdit ? 1 : 0)">
          {{ row[rowSpanBy] }}
        </td>
      </tr>
    } @else {
      <tr [ngClass]="{ 'row-expansion': showClickable(row) }">
        @if (showExpansion !== false) {
          <td class="button-cell">
            @if (expansion) {
              <p-button
                type="button"
                pRipple
                [text]="true"
                [rounded]="true"
                [plain]="true"
                icon="pi pi-window-maximize"
                (onClick)="rowClick(row)" />
            }
          </td>
        }
        @for (column of cols; track column) {
          @let rowGroupLen = rowGroup(row, rowIndex, column);
          @if (rowGroupLen > 0) {
            <td
              class="{{ column.class ?? '' }}"
              [attr.rowspan]="rowGroupLen"
              [ngClass]="{ 'row-span': rowGroupLen > 1 }"
              (click)="rowClick(row)">
              @let template = templateMap.get(column.id);
              @if (template) {
                <ng-container
                  [ngTemplateOutlet]="template"
                  [ngTemplateOutletContext]="{ $implicit: row }"></ng-container>
              } @else {
                @switch (column.dataType) {
                  @case ('date') {
                    {{ property(row, column) | date: 'yyyy/M/d' }}
                  }
                  @case ('number') {
                    {{ property(row, column) | hide | number: '1.0-0' }}
                  }
                  @case ('decimal') {
                    {{ property(row, column) | hide | number: '1.0-' + (column.decimalPlaces ?? 1) }}
                  }
                  @case ('array') {
                    <app-detail-link [objects]="property(row, column)" [keys]="column.keys" [hasLinks]="column.hasLinks"></app-detail-link>
                  }
                  @case ('score') {
                    {{ property(row, column) | score: column.boardGame(row) }}
                  }
                  @case ('tag') {
                    <div class="tag-wrapper">
                      @for (tag of property(row, column); track tag.TagId) {
                        <app-tag [tag]="tag"></app-tag>
                      }
                    </div>
                  }
                  @default {
                    {{ property(row, column) }}
                  }
                }
                @if ('suffix' in column && column.suffix && hasData(row, column)) {
                  {{ column.suffix }}
                }
              }
            </td>
          }
        }
        @if (canEdit) {
          <td pFrozenColumn alignFrozen="right" class="button-cell">
            <div class="flex-nowrap justify-content-end">
              @if (templateMap.get('edit'); as editTemplate) {
                <ng-container
                  [ngTemplateOutlet]="editTemplate"
                  [ngTemplateOutletContext]="{ $implicit: row, rowIndex }"></ng-container>
              }
              <p-button (onClick)="edit.emit(row)" icon="pi pi-pencil" [rounded]="true" [text]="true"></p-button>
            </div>
          </td>
        }
      </tr>
    }
  </ng-template>
</p-table>
