<app-dialog
  [title]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [editor]="true">
  <div class="flex-column gap-8">
    @if (events.length > 0) {
      <app-table
        [columns]="columns"
        [rows]="events"
        [canEdit]="true"
        (edit)="editEvent($event)"
        [showExpansion]="false"></app-table>
    }
    <div class="flex justify-content-end">
      <p-button label="Add New" [outlined]="true" severity="secondary" (onClick)="newEvent()"></p-button>
    </div>
  </div>

  @if (formGroup && event) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <app-textinput
          formControlName="Name"
          label="Event Name"
          [entityType]="entityType"
          [appHide]="hideFields"></app-textinput>

        <app-calendar
          formControlName="DateObj"
          label="Date Range"
          [entityType]="entityType"
          [appHide]="hideFields"
          [maxDate]="null"
          [range]="true"></app-calendar>
      </form>
    </div>
  }
  <ng-container class="dialog-footer">
    @if (formGroup && event) {
      <div>
        <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
      </div>
      <div>
        <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="cancelEdit()"></p-button>
        <p-button label="Save" [outlined]="true" (onClick)="submit()"></p-button>
      </div>
    }
  </ng-container>
</app-dialog>
