<p-dialog
  [visible]="visible()"
  (visibleChange)="tryCloseEditor()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px' }"
  [draggable]="false"
  [dismissableMask]="true"
  [focusOnShow]="false"
  [closeIcon]="closeIcon()"
  [position]="isEditor() ? 'bottom' : 'center'"
  [appendTo]="appendTo()">
  <ng-template #header>
    <ng-content select=".dialog-title">{{ title() }}</ng-content>
  </ng-template>

  <ng-content />

  <ng-template #footer>
    <ng-content select=".dialog-footer"></ng-content>
  </ng-template>
</p-dialog>
