<app-editor-player
  [editorVisible]="playerEditorVisible"
  [player]="playerEdit"
  [standalone]="false"
  (closeEditor)="savePlayer($event); playerGameEditor.playerSaved($event)"
  (deleteEntity)="deletePlayer($event)"></app-editor-player>
<app-editor-board-game
  [editorVisible]="boardGameEditorVisible"
  [boardGame]="boardGameEdit"
  [standalone]="false"
  (closeEditor)="saveBoardGame($event)"
  (deleteEntity)="deleteBoardGame($event)"></app-editor-board-game>

<app-editor-player-game
  #playerGameEditor
  [editorVisible]="playerGameEditorVisible"
  [playerGame]="playerGameEdit"
  [players]="players"
  (closeEditor)="savePlayerGame($event)"
  (deleteEntity)="deletePlayerGame($event)"
  (editPlayer)="editPlayer($event)"></app-editor-player-game>

<p-dialog
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px', 'max-height': '69%' }"
  [draggable]="false"
  position="bottom">
  <div *ngIf="formGroup && editorVisible" class="form">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <!-- BoardGame -->
      <div class="flex gap-4 align-items-end justify-content-space-between">
        <app-dropdown
          style="width: calc(100% - 104px)"
          formControlName="BoardGameId"
          label="BoardGame"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options]="boardGames"
          [showClear]="false"
          optionLabel="Name"
          optionValue="BoardGameId"></app-dropdown>
        <p-button *ngIf="canEditBoardGame()" (click)="editBoardGame(selectedBoardGame)" icon="pi pi-pencil"></p-button>
        <p-button (click)="editBoardGame()" icon="pi pi-plus"></p-button>
      </div>

      <p-orderList
        [value]="playerGames"
        [dragdrop]="true"
        [responsive]="true"
        [metaKeySelection]="true"
        (onReorder)="updateSortOrder()">
        <ng-template pTemplate="header">
          <div class="order-list-header flex justify-content-space-between">
            <div class="p-orderlist-title">Winners</div>
            <p-button (click)="editPlayerGame()" icon="pi pi-plus"></p-button>
          </div>
        </ng-template>
        <ng-template let-playerGame pTemplate="item">
          <div class="list-items">
            <div class="flex-column">
              <span class="font-bold flex">
                <span>{{ playerGame.Player.Name }}</span>
                <span>{{ playerGame.Points }}</span>
              </span>
            </div>
          </div>
        </ng-template>
      </p-orderList>

      <div class="flex gap-8 width-100">
        <app-calendar
          formControlName="Date"
          label="Date"
          [entityType]="entityType"
          [hiddenFields]="hideFields"></app-calendar>

        <app-textinput
          formControlName="Players"
          label="Players"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          inputType="number"></app-textinput>
      </div>

      <p-checkbox formControlName="DidNotFinish" label="Did Not Finish Game" [binary]="true"></p-checkbox>
    </form>
    <div class="flex dialog-footer">
      <div></div>
      <div>
        <p-button label="Cancel" [outlined]="true" severity="secondary" (click)="closeEditor.emit()"></p-button>
        <p-button label="Save & Close" [outlined]="true" (click)="submit()"></p-button>
      </div>
    </div>
  </div>
</p-dialog>
