<div style="height: calc(100dvh - 150px)">
  @let games = (games$ | async) ?? [] | sort: 'dateSortOrder' : true;
  <app-table [columns]="columns" [rows]="games" [canEdit]="false" (edit)="gameEdit.emit($event)" (expand)="openPlayDetail($event)" groupRowsBy="EventsName" spanRowsBy="year">
    <ng-template templateId="edit" let-game let-rowIndex="rowIndex" let-gameTable="table">
      @if (gameTable && canAdjustOrder(gameTable, games, rowIndex)) {
        <p-button
          (onClick)="moveUp.emit(game)"
          icon="pi pi-arrow-up"
          [rounded]="true"
          [text]="true"
          [disabled]="!canAdjustUp(games, rowIndex)"></p-button>
        <p-button
          (onClick)="moveDown.emit(game)"
          icon="pi pi-arrow-down"
          [rounded]="true"
          [text]="true"
          [disabled]="!canAdjustDown(games, rowIndex)"></p-button>
      }
    </ng-template>
  </app-table>
</div>

<app-play-detail [visible]="playDetailsShow" [game]="playDetails!" (closeDetails)="playDetailsShow = false"></app-play-detail>