<div style="height: calc(100dvh - 150px)">
  @let games = (games$ | async) ?? [];
  <app-table [columns]="columns" [rows]="games" [baseTable]="true" [canEdit]="canEdit" (edit)="gameEdit.emit($event)" dataKey="GameId" sortBy="dateSortOrder" groupRowsBy="year">
    <ng-template templateId="edit" let-game let-rowIndex="rowIndex" let-gameTable="table">
      @if (gameTable && canAdjustOrder(gameTable, games, rowIndex)) {
        <p-button
          (onClick)="moveUp.emit(game)"
          icon="pi pi-arrow-up"
          [rounded]="true"
          [text]="true"
          [disabled]="!canAdjustUp(games, rowIndex)"></p-button>
        <p-button
          (onClick)="moveDown.emit(game)"
          icon="pi pi-arrow-down"
          [rounded]="true"
          [text]="true"
          [disabled]="!canAdjustDown(games, rowIndex)"></p-button>
      }
    </ng-template>
    <ng-template templateId="expansion" let-game>
      <app-table [columns]="expansionColumns" [rows]="game.Scores">
        <ng-template templateId="DisplayName" let-row>
          <div class="flex-100 gap-8">
            <app-trophy-icon [score]="row"></app-trophy-icon>
            <span>{{ row.DisplayName }}</span>
          </div>
        </ng-template>
      </app-table>
    </ng-template>
  </app-table>
</div>
