<div style="height: calc(100dvh - 150px)">
  <app-table
    [columns]="columns"
    [rows]="games"
    [canEdit]="canEdit"
    [virtualScroll]="true"
    (edit)="gameEdit.emit($event)"
    [isRowSpan]="isRowSpan"
    rowSpanBy="year"
    groupRowsBy="EventsName">
    <ng-template templateId="edit" let-game let-rowIndex="rowIndex">
      @if (canAdjustOrder(games, rowIndex)) {
        <p-button
          (onClick)="moveUp.emit(game)"
          icon="pi pi-arrow-up"
          [rounded]="true"
          [text]="true"
          [disabled]="!canAdjustUp(games, rowIndex)"></p-button>
        <p-button
          (onClick)="moveDown.emit(game)"
          icon="pi pi-arrow-down"
          [rounded]="true"
          [text]="true"
          [disabled]="!canAdjustDown(games, rowIndex)"></p-button>
      }
    </ng-template>
  </app-table>
</div>
