:host ::ng-deep {
  td .p-datatable-table-container .p-datatable-table {
    width: unset !important;
    min-width: 200px !important;
  }

  tr.year-row {
    background: var(--p-surface-950) !important;
  }

  .notes-column {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
