:host ::ng-deep {
  td .p-datatable-table-container .p-datatable-table {
    width: unset !important;
    min-width: 200px !important;
  }

  td:has(>.tag-wrapper) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .tag-wrapper {
    display: flex;
    gap: 4px;
  }
}
