@if (game(); as g) {
  <app-dialog (closeDialog)="detailService.hideDetail()" closeIcon="pi pi-window-minimize">
    <div class="dialog-title details-header">
      <app-detail-link [objects]="[g.BoardGame]" keys="Name" [hasLinks]="true"></app-detail-link>
      <div class="grow"></div>
      @if (detailService.hasHistory) {
        <p-button icon="pi pi-undo" severity="secondary" [rounded]="true" (onClick)="detailService.goBack()" />
      }
    </div>

    <div class="flex-column gap-8">
      <h3 class="game-date">{{ g.DateObj | date: 'MMM d, yyyy' }}</h3>
      <app-stats-table header="Stats" [smallHeader]="true" [items]="stats()" [customHeight]="40"></app-stats-table>

      <app-table
        [columns]="columns"
        [rows]="g.Scores"
        [canEdit]="false"
        [showExpansion]="false"
        [tiny]="true"
        [canOpenDetail]="true">
        <ng-template templateId="DisplayNameFull" let-row>
          <div class="flex-nowrap gap-8">
            <app-trophy-icon [score]="row"></app-trophy-icon>
            <span>{{ row.DisplayNameFull }}</span>
          </div>
        </ng-template>
      </app-table>
    </div>
  </app-dialog>
}
