@if (game(); as g) {
  <p-dialog
    [visible]="visible"
    (visibleChange)="detailService.hideDetail()"
    [modal]="true"
    [style]="{ 'min-width': '300px' }"
    [draggable]="false"
    [dismissableMask]="true"
    closeIcon="pi pi-window-minimize"
    position="center">
    <ng-template #header>
      <div class="details-header">
        <span>{{ g.BoardGameName }} - {{ g.DateObj | date: 'MMM d, yyyy' }}</span>
      </div>
    </ng-template>

    <div class="flex-column gap-8">
      <app-stats-table header="Stats" [smallHeader]="true" [items]="stats()" [customHeight]="40"></app-stats-table>

      <app-table [columns]="columns" [rows]="g.Scores" [canEdit]="false" [showExpansion]="false" [tiny]="true">
        <ng-template templateId="DisplayNameFull" let-row>
          <div class="flex-nowrap gap-8">
            <app-trophy-icon [score]="row"></app-trophy-icon>
            <span>{{ row.DisplayNameFull }}</span>
          </div>
        </ng-template>
      </app-table>
    </div>
  </p-dialog>
}
