<app-menu-bar page="home" (newClub)="newClub()"></app-menu-bar>

@if (editorClubVisible) {
  <app-editor-club
    [editorVisible]="editorClubVisible"
    [club]="editClub"
    (closeEditor)="editorClubVisible = false"></app-editor-club>
}

@if (((clubList$ | async)?.length ?? 0) > 0) {
  <h1>Groups You Manage</h1>
}
<div class="club-wrapper">
  @for (club of clubList$ | async; track club) {
    <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{ club }"></ng-container>
  }
</div>

<h1>Public Groups</h1>
<div class="club-wrapper">
  @for (club of publicClubList$ | async; track club.ClubId) {
    <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{ club }"></ng-container>
  }
</div>

<ng-template #card let-club="club">
  <div class="club-card" [routerLink]="'/club/' + club.ClubId">
    <h2>{{ club.Name }}</h2>
    <p>{{ club.Summary }}</p>
    <small>Created by: {{ club.CreatedBy }}</small>
  </div>
</ng-template>
