@if (tag(); as t) {
  <app-dialog closeIcon="pi pi-window-minimize" (closeDialog)="detailService.hideDetail()">
    <div class="dialog-title details-header">
      <app-tag [tag]="t"></app-tag>
      <div class="grow"></div>
      @if (detailService.hasHistory) {
        <p-button icon="pi pi-undo" severity="secondary" [rounded]="true" (onClick)="detailService.goBack()" />
      }
    </div>

    <div class="flex-column gap-8">
      <app-trophy-list [filter]="t" [smallHeader]="true"></app-trophy-list>

      <app-table
        [columns]="columns"
        [rows]="rows()"
        [canEdit]="false"
        [showExpansion]="false"
        [tiny]="true"
        [canClick]="true"
        rowSpanBy="Category"
        [isRowSpan]="isRowSpan"
        (rowClicked)="rowClicked($event)"></app-table>
    </div>
  </app-dialog>
}
