<div style="height: calc(100dvh - 140px)">
  <p-table
    [value]="(boardGames$ | async) ?? []"
    dataKey="BoardGameId"
    [scrollable]="true"
    scrollHeight="flex"
    styleClass="p-datatable-striped p-datatable-sm"
    sortField="Games.length"
    [sortOrder]="-1"
    [tableStyle]="{ 'min-width': '50rem' }"
    [autoLayout]="true"
    [expandedRowKeys]="expandedRows">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 0"></th>
        <th
          *ngFor="let column of boardGameColumns"
          [pSortableColumn]="column.sort ? column.field : undefined"
          [style]="{ width: column.width }">
          {{ column.name }}
          <p-sortIcon *ngIf="column.sort" [field]="column.field" />
        </th>
        <th *ngIf="canEdit" class="edit-header">Edit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-boardGame let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="boardGame"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>
          {{ boardGame.Name }}
        </td>

        <td>
          <span>{{ boardGame.Games.length | hide: '0' | number: '1.0-0' }}</span>
          <div
            *ngIf="boardGame.Games.length > 0"
            class="bar-percent"
            [ngStyle]="{ width: (boardGame.Games.length / (stats?.MostPlays ?? 1)) * 100 + '%' }"></div>
        </td>
        <td>{{ boardGame.Champions | array: 'Name' }}</td>
        <td>{{ boardGame.ChampionWins | hide: '0' | number: '1.0-0' }}</td>
        <td>{{ boardGame.MaxPlayers | hide: '0' | number: '1.0-0' }}</td>
        <td>{{ boardGame.AveragePlayers | hide: '0' | number: '1.0-1' }}</td>
        <td>{{ boardGame.MaxScore | hide: '0' | number: '1.0-1' }}</td>
        <td>{{ boardGame.AverageScore | hide: '0' | number: '1.0-1' }}</td>
        <td>{{ boardGame.AverageWinningScore | hide: '0' | number: '1.0-1' }}</td>
        <td *ngIf="canEdit">
          <p-button
            (click)="boardGameEdit.emit(boardGame)"
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"></p-button>
        </td>
      </tr>
    </ng-template>

    <!-- Row Expansion -->
    <ng-template pTemplate="rowexpansion" let-boardGame>
      <tr>
        <td></td>
        <td [attr.colspan]="boardGameColumns.length">
          <p-table
            [value]="WinCounts[boardGame.BoardGameId]"
            styleClass="p-datatable-sm"
            sortField="dateSortOrder"
            [sortOrder]="1"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Wins</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-player>
              <tr>
                <td>
                  {{ player.name }}
                </td>
                <td>
                  {{ player.count | number: '1.0-3' }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
