<div style="height: calc(100dvh - 150px)">
  <app-table
    [columns]="columns"
    [rows]="boardGames"
    [canEdit]="canEdit"
    [virtualScroll]="true"
    (edit)="boardGameEdit.emit($event)"
    sortBy="PlayCount"
    [showExpansion]="showExpansion.bind(this)">
    <ng-template templateId="PlayCount" let-boardGame>
      <span>{{ boardGame.PlayCount | hide | number: '1.0-0' }}</span>
      @if (boardGame.PlayCount > 0) {
        <div
          class="bar-percent"
          [ngStyle]="{ width: (boardGame.PlayCount / (mostPlays.value || 1)) * 100 + '%' }"></div>
      }
    </ng-template>
    <ng-template templateId="ChampionWins" let-boardGame>
      {{ boardGame.ChampionWins | hide | number: '1.0-0' }} - {{ boardGame.Champions | map: 'ShortName' }}
    </ng-template>
    <ng-template templateId="MinPlayers" let-boardGame>
      @if (boardGame.PlayCount > 0) {
        @if (boardGame.MinPlayers !== boardGame.MaxPlayers) {
          {{ boardGame.MinPlayers }} - {{ boardGame.MaxPlayers }}
        } @else {
          {{ boardGame.MaxPlayers }}
        }
      } @else {
        0
      }
    </ng-template>
  </app-table>
</div>
