<div style="height: calc(100dvh - 150px)">
  @let games = ((boardGames$ | async) ?? []);
  <app-table
    [columns]="columns"
    [rows]="games"
    [baseTable]="true"
    [canEdit]="canEdit"
    (edit)="boardGameEdit.emit($event)"
    dataKey="BoardGameId"
    [sort]="{ field: 'PlayCount', order: -1 }"
    [showExpansion]="showExpansion.bind(this)">
    <ng-template templateId="PlayCount" let-boardGame>
      <span>{{ boardGame.PlayCount | hide | number: '1.0-0' }}</span>
      @if (boardGame.PlayCount > 0) {
        <div class="bar-percent" [ngStyle]="{ width: (boardGame.PlayCount / (mostPlays.value || 1)) * 100 + '%' }"></div>
      }
    </ng-template>
    <ng-template templateId="ChampionWins" let-boardGame>
      {{ boardGame.ChampionWins | hide | number: '1.0-0' }} - {{ boardGame.Champions | array: 'ShortName' }}
    </ng-template>

    <ng-template templateId="expansion" let-boardGame>
      <app-table [columns]="expansionColumns" [rows]="WinCounts[boardGame.BoardGameId]" [sort]="{field: 'wins', order: -1}">
            <ng-template templateId="wins" let-row>
              {{ row.wins | number: '1.0-0' }} / {{row.plays | number: '1.0-0'}}
            </ng-template>
          </app-table>
    </ng-template>
  </app-table>
</div>
