<app-control-wrapper
  #ControlWrapper
  [label]="label"
  [controlName]="formControlName"
  [formGroup]="formGroup"
  [entityType]="entityType"
  [hiddenFields]="hiddenFields">
  <p-password
    id="{{ formControlName }}"
    formControlName="{{ formControlName }}"
    [feedback]="feedback"
    [toggleMask]="true"
    [ngClass]="{ 'ng-invalid ng-dirty': ControlWrapper.isFieldInvalid() }">
    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p class="mt-2">Requirements</p>
      <div class="flex-column">
        <span>{{ hasLengthError() ? '❌' : '✅' }} Minimum 8 characters</span>
        <span>{{ hasCommonError() ? '❌' : '✅' }} Don't use common password</span>
      </div>
    </ng-template>
  </p-password>
</app-control-wrapper>
