<div (click)="filter.toggle($event)" class="filter-button">
  <i
    class="pi pi-filter p-text-secondary"
    pBadge
    [badgeDisabled]="(filterEnabled$ | async) === false"
    severity="danger"></i>
</div>

<p-popover #filter>
  <div class="flex flex-column gap-8 filter-wrapper">
    <h3>Filter</h3>

    @let games = (ogBoardGames$ | async) ?? [] | sort: 'Name';
    @let players = (ogPlayers$ | async) ?? [] | sort: 'Name';
    @let tags = (tags$ | async) ?? [] | sort: 'Text';

    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="enableFilter(filter)">
        <app-multi-select
          formControlName="boardGameIds"
          label="Board Games"
          [entityType]="entityType"
          [options]="games"
          optionLabel="Name"
          optionValue="BoardGameId"
          selectedItemsLabel="{0} / {{ games.length }} games selected"></app-multi-select>

        <app-multi-select
          formControlName="playerIds"
          label="Players"
          [entityType]="entityType"
          [options]="players"
          optionLabel="Name"
          optionValue="PlayerId"
          selectedItemsLabel="{0} / {{ players.length }} players selected"></app-multi-select>

        <app-multi-select
          formControlName="daysOfWeek"
          label="Days of Week"
          [entityType]="entityType"
          [options]="dow"
          selectedItemsLabel="{0} / {{ dow.length }} days selected"></app-multi-select>

        <app-multi-select
          formControlName="excludedTagIds"
          label="Exclude Tags"
          [entityType]="entityType"
          [options]="tags"
          optionLabel="Text"
          optionValue="TagId"
          selectedItemsLabel="{0} / {{ tags.length }} tag excluded"></app-multi-select>

        <app-calendar
          formControlName="startDate"
          label="Start Date"
          [entityType]="entityType"
          [showClear]="true"></app-calendar>

        <app-calendar
          formControlName="endDate"
          label="End Date"
          [entityType]="entityType"
          [showClear]="true"></app-calendar>


        @if ((filterEnabled$ | async) === true) {
          <div class="flex gap-8 justify-content-space-between">
            <p-button (onClick)="disableFilter(filter)" [outlined]="true" severity="secondary">Reset</p-button>
            <p-button (onClick)="enableFilter(filter)" [outlined]="true">Update</p-button>
          </div>
        } @else {
          <div class="flex gap-8 justify-content-space-between">
            <div></div>
            <p-button (onClick)="enableFilter(filter)" [outlined]="true">Enable</p-button>
          </div>
        }
      </form>
    </div>
  </div>
</p-popover>
