@if (boardGame(); as bg) {
  <app-dialog (visibleChange)="detailService.hideDetail()" closeIcon="pi pi-window-minimize">
    <div class="dialog-title details-header">
      <span>{{ bg.Name }}</span>
      <div class="grow"></div>
      @if (detailService.hasHistory) {
        <p-button icon="pi pi-undo" severity="secondary" [rounded]="true" (onClick)="detailService.goBack()" />
      }
    </div>

    <div class="flex-column gap-8">
      <app-stats-table header="Stats" [smallHeader]="true" [items]="stats()" [customHeight]="40"></app-stats-table>

      <app-trophy-list [filter]="bg" [smallHeader]="true"></app-trophy-list>

      <app-table
        [columns]="columns"
        [rows]="boardGame()?.WinCounts ?? []"
        [canEdit]="false"
        [showExpansion]="false"
        [tiny]="true"
        [canClick]="true"
        (rowClicked)="rowClicked($event)"></app-table>
    </div>
  </app-dialog>
}
