<p-dialog
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px' }"
  [draggable]="false"
  position="bottom">
  @if (formGroup && boardGame) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit(false)">
        <app-textinput formControlName="Name" [entityType]="entityType" [hiddenFields]="hideFields"></app-textinput>
        <app-dropdown
          formControlName="ScoreType"
          label="Score Type"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options]="scoreTypes"
          optionLabel="label"
          optionValue="value"
          [showClear]="false"></app-dropdown>
        <div class="flex-grow gap-8 width-100">
          <app-textinput
            formControlName="ScorePrefix"
            label="Score Prefix"
            [entityType]="entityType"
            [hiddenFields]="hideFields"></app-textinput>
          <app-textinput
            formControlName="ScoreSuffix"
            label="Score Suffix"
            [entityType]="entityType"
            [hiddenFields]="hideFields"></app-textinput>
          <app-number-input
            formControlName="ExampleScore"
            label="Example Score"
            [prefix]="formGroup.value.ScorePrefix"
            [suffix]="formGroup.value.ScoreSuffix"
            [entityType]="entityType"
            [hiddenFields]="hideFields"></app-number-input>
        </div>

        <div class="flex-grow gap-8 width-100">
          <app-number-input
            formControlName="PointAdjustBase"
            label="Point Adjustment Base"
            [prefix]="formGroup.value.ScorePrefix"
            [suffix]="formGroup.value.ScoreSuffix"
            [entityType]="entityType"
            [hiddenFields]="hideFields"></app-number-input>
          <app-number-input
            formControlName="PointAdjustStep"
            label="Point Adjustment Step"
            [prefix]="formGroup.value.ScorePrefix"
            [suffix]="formGroup.value.ScoreSuffix"
            [entityType]="entityType"
            [hiddenFields]="hideFields"></app-number-input>
        </div>
        <p class="helper-text">By default point adjustment is: 1, 5, 10, 50, 100, 150, 200, etc...</p>

        <app-tags
          formControlName="Tags"
          label="Tags"
          editorValue="DisplayOnBoardGames"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options$]="tagList$"></app-tags>

        <app-textinput
          formControlName="BoardGameGeekId"
          [entityType]="entityType"
          [hiddenFields]="hideFields"></app-textinput>
        <div class="dialog-footer">
          <div>
            <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
          </div>
          <div>
            <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
            <p-button label="Save" [outlined]="true" (onClick)="submit(false)"></p-button>
            <p-button label="Save & Close" [outlined]="true" (onClick)="submit(true)"></p-button>
          </div>
        </div>
      </form>
    </div>
  }
</p-dialog>
