<app-control-wrapper
  #ControlWrapper
  [label]="label"
  [controlName]="formControlName"
  [formGroup]="formGroup"
  [entityType]="entityType"
  [hiddenFields]="hiddenFields"
  textInputType="array">
  <p-multiselect
    #dropdown
    inputId="{{ formControlName }}"
    formControlName="{{ formControlName }}"
    [options]="(options$ | async) ?? options ?? []"
    optionLabel="Text"
    appendTo="body"
    display="chip"
    (onFocus)="onFocus($event)">
    <ng-template let-tag #item>
      <app-tag [tag]="tag"></app-tag>
    </ng-template>
    <ng-template let-items #selecteditems>
      @for (tag of items; track tag) {
        <app-tag [tag]="tag"></app-tag>
      }
    </ng-template>
    <ng-template #dropdownicon>
      <i class="pi pi-tags"></i>
    </ng-template>
    <ng-template #footer>
      <div class="p-3 flex justify-content-space-between">
        <p-button
          (onClick)="editorTagsVisible = true"
          label="Manage Tags"
          severity="secondary"
          text
          size="small"
          icon="pi pi-th-large" />
        <p-button
          (onClick)="dropdown.updateModel([], $event)"
          label="Remove All"
          severity="danger"
          text
          size="small"
          icon="pi pi-times" />
      </div>
    </ng-template>
  </p-multiselect>
</app-control-wrapper>

@if (editorTagsVisible) {
  <app-editor-tags [editorVisible]="editorTagsVisible" (closeEditor)="editorTagsVisible = false"></app-editor-tags>
}
