<app-control-wrapper
  #ControlWrapper
  [label]="label"
  [controlName]="formControlName"
  [formGroup]="formGroup"
  [entityType]="entityType"
  [hiddenFields]="hiddenFields"
  textInputType="dropdown">
  <p-autocomplete
    #autocomplete
    inputId="{{ formControlName }}"
    formControlName="{{ formControlName }}"
    multiple
    [suggestions]="items"
    [optionLabel]="'Text'"
    (completeMethod)="search($event)"
    (onAdd)="add()"
    (onInputKeydown)="onKeydown($event, autocomplete)"
    [dropdown]="true"
    [dropdownMode]="'current'"
    [typeahead]="false"
    [addOnTab]="true"
    separator=","
    placeholder="Use Tab, or Comma to add items..." />
</app-control-wrapper>
