<app-menu-bar
  page="club"
  (newGame)="newGame()"
  (newBoardGame)="newBoardGame()"
  (newPlayer)="newPlayer()"></app-menu-bar>

<app-editor-game
  *ngIf="editorGameVisible"
  [editorVisible]="editorGameVisible"
  [game]="editGame"
  (closeEditor)="editorGameVisible = false"></app-editor-game>

<app-editor-board-game
  *ngIf="editorBoardGameVisible"
  [editorVisible]="editorBoardGameVisible"
  [boardGame]="editBoardGame"
  (closeEditor)="editorBoardGameVisible = false"></app-editor-board-game>

<app-editor-player
  *ngIf="editorPlayerVisible"
  [editorVisible]="editorPlayerVisible"
  [player]="editPlayer"
  (closeEditor)="editorPlayerVisible = false"></app-editor-player>

<p-tabView>
  <p-tabPanel header="Overview">
    <!-- Overview goes here -->
    <app-stats [stats]="stats"></app-stats>
  </p-tabPanel>
  <p-tabPanel header="Plays: {{ ((games$ | async) ?? []).length }}">
    <!-- Games/Plays ----------------------------------------------------------------------------------------- -->
    <app-games-table [games$]="games$" [canEdit]="canEdit" (gameEdit)="gameEdit($event)"></app-games-table>
  </p-tabPanel>
  <p-tabPanel header="Players: {{ ((players$ | async) ?? []).length }}">
    <!-- Players --------------------------------------------------------------------------------------------- -->
    <app-player-table
      [players$]="players$"
      [stats]="stats"
      [canEdit]="canEdit"
      (playerEdit)="playerEdit($event)"></app-player-table>
  </p-tabPanel>
  <p-tabPanel header="Games: {{ ((boardGames$ | async) ?? []).length }}">
    <!-- BoardGames ----------------------------------------------------------------------------------------- -->
    <app-board-game-table
      [boardGames$]="boardGames$"
      [stats]="stats"
      [canEdit]="canEdit"
      (boardGameEdit)="boardGameEdit($event)"></app-board-game-table>
  </p-tabPanel>
</p-tabView>
