<app-menu-bar page="club" (newGame)="newGame()" (newBoardGame)="newBoardGame()" (newPlayer)="newPlayer()"></app-menu-bar>

<app-editor-game
  *ngIf="editorGameVisible"
  [editorVisible]="editorGameVisible"
  [game]="editGame"
  (closeEditor)="editorGameVisible = false"></app-editor-game>

<app-editor-board-game
  *ngIf="editorBoardGameVisible"
  [editorVisible]="editorBoardGameVisible"
  [boardGame]="editBoardGame"
  (closeEditor)="editorBoardGameVisible = false"></app-editor-board-game>

<app-editor-player
  *ngIf="editorPlayerVisible"
  [editorVisible]="editorPlayerVisible"
  [player]="editPlayer"
  (closeEditor)="editorPlayerVisible = false"></app-editor-player>

<p>BoardGames</p>
<ul>
  <li *ngFor="let boardGame of boardGames$ | async">{{ boardGame.Name }}</li>
</ul>

<p>Players</p>
<ul>
  <li *ngFor="let player of players$ | async">{{ player.Name }}</li>
</ul>

<p-table [value]="(games$ | async) ?? []" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Date</th>
          <th>Game</th>
          <th>Players</th>
          <th>Winner</th>
          <th>Points</th>
          <th>Did Not Finish</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-game>
      <tr>
          <td>{{ game.Date | date: 'fullDate' }}</td>
          <td>{{ game.BoardGame.Name }}</td>
          <td>{{ game.Players }}</td>
          <td>{{ game.Winners[0].Player.Name }}</td>
          <td>{{ game.Winners[0].Points }}</td>
          <td>{{ game.DidNotFinish }}</td>
      </tr>
  </ng-template>
</p-table>