<div class="club-wrapper">
  <app-menu-bar
    page="club"
    (editClub)="clubEdit()"
    (newGame)="newGame()"
    (newBoardGame)="newBoardGame()"
  (newPlayer)="newPlayer()"></app-menu-bar>

  @if (editorClubVisible) {
    <app-editor-club
      [editorVisible]="editorClubVisible"
      [club]="editClub"
    (closeEditor)="editorClubVisible = false"></app-editor-club>
  }

  @if (editorGameVisible) {
    <app-editor-game
      [editorVisible]="editorGameVisible"
      [game]="editGame"
    (closeEditor)="editorGameVisible = false"></app-editor-game>
  }

  @if (editorBoardGameVisible) {
    <app-editor-board-game
      [editorVisible]="editorBoardGameVisible"
      [boardGame]="editBoardGame"
    (closeEditor)="editorBoardGameVisible = false"></app-editor-board-game>
  }

  @if (editorPlayerVisible) {
    <app-editor-player
      [editorVisible]="editorPlayerVisible"
      [player]="editPlayer"
    (closeEditor)="editorPlayerVisible = false"></app-editor-player>
  }

  <h1>{{ title }}</h1>

  <div>
    <p-tabs [(value)]="activeTab" (valueChange)="onTabChange($event)" [lazy]="true">
      <p-tablist>
        <p-tab value="overview">Overview</p-tab>
        <p-tab value="plays">Plays: {{ ((games$ | async) ?? []).length }}</p-tab>
        <p-tab value="players">Players: {{ ((players$ | async) ?? []).length }}</p-tab>
        <p-tab value="games">Games: {{ ((boardGames$ | async) ?? []).length }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="overview">
          <app-stats></app-stats>
        </p-tabpanel>
        <p-tabpanel value="plays">
          <app-games-table
            [games$]="games$"
            [canEdit]="canEdit"
            (gameEdit)="gameEdit($event)"
            (moveUp)="moveUp($event)"
          (moveDown)="moveDown($event)"></app-games-table>
        </p-tabpanel>
        <p-tabpanel value="players">
          <app-player-table
            [players$]="players$"
            [canEdit]="canEdit"
          (playerEdit)="playerEdit($event)"></app-player-table>
        </p-tabpanel>
        <p-tabpanel value="games">
          <app-board-game-table
            [boardGames$]="boardGames$"
            [players]="players$ | async"
            [canEdit]="canEdit"
          (boardGameEdit)="boardGameEdit($event)"></app-board-game-table>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>

    <div (click)="filter.toggle($event)" class="filter-button">
      <i
        class="pi pi-filter p-text-secondary"
        pBadge
        [badgeDisabled]="(filterEnabled$ | async) === false"
      severity="danger"></i>
    </div>
  </div>
  <p-popover #filter>
    <div class="flex flex-column gap-8 filter-wrapper">
      <h3>Filter</h3>

      <p-floatLabel>
        <p-multiSelect
          [options]="(ogBoardGames$ | async) ?? [] | sort: 'Name'"
          [(ngModel)]="gameIds"
          selectedItemsLabel="{0} games selected"
          appendTo="body"
          optionLabel="Name"
          optionValue="BoardGameId"
          placeholder="Select Board Games" />
          <label for="username">Board Games</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-multiSelect
            [options]="(ogPlayers$ | async) ?? [] | sort: 'Name'"
            [(ngModel)]="playerIds"
            selectedItemsLabel="{0} players selected"
            appendTo="body"
            optionLabel="Name"
            optionValue="PlayerId"
            placeholder="Select Players" />
            <label for="username">Players</label>
          </p-floatLabel>

          <p-floatLabel>
            <p-multiSelect
              [options]="dow"
              [(ngModel)]="daysOfWeek"
              selectedItemsLabel="{0} days selected"
              appendTo="body"
              placeholder="Select Days" />
              <label for="username">Days of Week</label>
            </p-floatLabel>

            @if ((filterEnabled$ | async) === true) {
              <div
                class="flex gap-8 justify-content-space-between"
                >
                <p-button (onClick)="disableFilter(filter)" [outlined]="true" severity="secondary">Reset</p-button>
                <p-button (onClick)="enableFilter(filter)" [outlined]="true">Update</p-button>
              </div>
            } @else {
              <div class="flex gap-8 justify-content-space-between">
                <div></div>
                <p-button (onClick)="enableFilter(filter)" [outlined]="true">Enable</p-button>
              </div>
            }
          </div>
        </p-popover>
      </div>
