:host ::ng-deep {
  .p-tablist-tab-list {
    background: none;
    border-bottom: 1px solid #424b57;
    .p-tab:first-of-type {
      border-top-left-radius: 8px;
    }
    .p-tab:last-of-type {
      border-top-right-radius: 8px;
    }
  }

  .p-tablist .p-tab {
    padding: 8px;
    border-width: 0 0 2px 0;
  }

  .p-tablist {
    padding-left: 38px;
  }

  .edit-header {
    width: 0;
    text-align: center;
  }

  .club-wrapper {
    position: relative;
  }
}
