:host ::ng-deep {
  form {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .p-floatlabel {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .p-select {
    width: 100%;
  }

  .media-sub-spread {
    justify-content: space-between;
    :nth-child(1) {
      flex-grow: 1;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    gap: 16px;
    > div {
      display: flex;
      justify-content: start;
      gap: 16px;
    }
  }

  .p-listbox-header {
    padding: 1.5rem;
    font-weight: 700;
    border: solid var(--p-surface-600);
    border-width: 0 0 1px 0;
  }

  .p-listbox-list {
    min-height: 12rem;
  }

  .p-orderlist-list-container {
    width: 100%;
  }

  .p-listbox-option {
    cursor: default;
  }

  .order-list-header,
  .pick-list-header,
  .list-items {
    display: flex;
    position: relative;
    width: 100%;
    cursor: default;

    p-button:first-child {
      position: absolute;
      top: -0.75rem;
      right: 1.5rem;
    }
    p-button:nth-child(2) {
      position: absolute;
      top: -0.75rem;
      right: -1rem;
    }
  }

  .p-orderlist > .p-orderlist-controls {
    display: none;
  }
  .can-order {
    .p-orderlist > .p-orderlist-controls {
      display: flex;
    }
    .p-listbox-option {
      cursor: ns-resize;
    }
    .list-items {
      cursor: ns-resize;
    }
  }

  .DNF {
    text-decoration: line-through;
    color: dimgray;
  }
}
