:host ::ng-deep {
  .p-select {
    width: 100%;
  }

  .point-add-group {
    .p-button {
      padding: 8px;
    }
  }

  .media-sub-spread {
    justify-content: space-between;
    :nth-child(1) {
      flex-grow: 1;
    }
  }

  .p-orderlist {
    margin-bottom: 0.8rem;
  }

  .p-listbox-header {
    font-weight: 700;
    border: solid var(--p-surface-600);
    border-width: 0 0 1px 0;
    padding: 8px;
    flex-direction: column;
    gap: 8px;
    .order-list-header {
      align-items: center;
    }
  }

  .p-listbox-list-container {
    min-height: 12rem;
  }

  .p-orderlist-list-container {
    width: 100%;
  }

  .order-list-header,
  .pick-list-header,
  .list-items {
    display: flex;
    position: relative;
    width: 100%;

    .player-name {
      flex-shrink: 0;
      max-width: calc(100vw - 200px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .point-editor {
      .p-button,
      input {
        padding: 4px 0.5rem;
      }
      input {
        max-width: 100px;
        height: 30px;
      }
    }

    .edit-btns {
      gap: 4px;
      .p-button {
        height: 30px;
        border-radius: 8px;
      }
    }
  }

  .empty-list {
    text-align: center;
    margin-top: 4rem;
  }

  .p-orderlist > .p-orderlist-controls {
    display: none;
  }
  .can-order {
    .p-orderlist > .p-orderlist-controls {
      display: flex;
    }
    .p-listbox-option {
      cursor: ns-resize;
    }
    .list-items {
      cursor: ns-resize;
    }
  }

  .add-point-group {
    width: 100%;
    display: flex;
    gap: 4px;
    justify-content: start;
  }

  .add-point-group-spacer {
    flex-grow: 1;
    flex-basis: 0;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    p-button {
      .p-button {
        width: 50px;
      }
      &:first-child .p-button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child .p-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .custom-point-adjustment {
    margin-top: 8px;
  }
}
