<app-editor-player
  [editorVisible]="playerEditorVisible"
  [player]="playerEdit"
  [standalone]="false"
  (closeEditor)="savePlayer($event); playerGameEditor.playerSaved($event)"
  (deleteEntity)="deletePlayer($event); playerGameEditor.playerDeleted($event)"></app-editor-player>
<app-editor-board-game
  [editorVisible]="boardGameEditorVisible"
  [boardGame]="boardGameEdit"
  [standalone]="false"
  (closeEditor)="saveBoardGame($event)"
  (deleteEntity)="deleteBoardGame($event)"></app-editor-board-game>

<app-editor-player-game
  #playerGameEditor
  [editorVisible]="playerGameEditorVisible"
  [playerGame]="playerGameEdit"
  [players]="players"
  [scoreType]="game?.BoardGame?.ScoreType"
  (closeEditor)="savePlayerGame($event)"
  (deleteEntity)="deletePlayerGame($event)"
  (editPlayer)="editPlayer($event)"></app-editor-player-game>

<p-dialog
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px', 'max-height': 'calc(100% - 60px)' }"
  [draggable]="false"
  position="bottom">
  @if (formGroup && editorVisible) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <!-- BoardGame -->
        <div class="flex gap-4 justify-content-space-between">
          <app-dropdown
            style="flex-grow: 1"
            formControlName="BoardGameId"
            label="BoardGame"
            [entityType]="entityType"
            [hiddenFields]="hideFields"
            [options]="boardGames"
            [showClear]="false"
            optionLabel="Name"
            optionValue="BoardGameId"></app-dropdown>
          @if (canEditBoardGame()) {
            <p-button (onClick)="editBoardGame(selectedBoardGame)" icon="pi pi-pencil"></p-button>
          }
          <p-button (onClick)="editBoardGame()" pTooltip="New Game" icon="pi pi-plus"></p-button>
        </div>
        <p-orderList
          [value]="playerGames"
          [selection]="selectedPlayerGames"
          [dragdrop]="game?.BoardGame?.ScoreType === 'rank'"
          [responsive]="true"
          [metaKeySelection]="false"
          (onReorder)="updateOrdering()"
          (selectionChange)="onPlayerSelection($event)"
          [ngClass]="{ 'can-order': game?.BoardGame?.ScoreType === 'rank' }">
          <ng-template #header>
            <div class="order-list-header flex justify-content-space-between">
              <div class="p-orderlist-title">Players</div>
              <p-button class="add-btn" (onClick)="editPlayerGame()" pTooltip="Add Player" icon="pi pi-plus"></p-button>
            </div>
            <div class="flex justify-content-center">
              @if (selectedPlayerGames.length > 0 && game?.BoardGame?.ScoreType === 'points') {
                <p-buttongroup class="point-add-group">
                  <div class="flex-nowrap">
                    <p-button label="-100" variant="outlined" severity="warn" (onClick)="addPoints(-100)" />
                    <p-button label="-50" variant="outlined" severity="warn" (onClick)="addPoints(-50)" />
                    <p-button label="-10" variant="outlined" severity="warn" (onClick)="addPoints(-10)" />
                    <p-button label="-1" variant="outlined" severity="warn" (onClick)="addPoints(-1)" />
                  </div>
                  <div class="flex-nowrap">
                    <p-button label="+1" variant="outlined" severity="success" (onClick)="addPoints(1)" />
                    <p-button label="+10" variant="outlined" severity="success" (onClick)="addPoints(10)" />
                    <p-button label="+50" variant="outlined" severity="success" (onClick)="addPoints(50)" />
                    <p-button label="+100" variant="outlined" severity="success" (onClick)="addPoints(100)" />
                  </div>
                </p-buttongroup>
              }
            </div>
          </ng-template>
          <ng-template let-playerGame #item>
            <ng-container
              [ngTemplateOutlet]="orderListItem"
              [ngTemplateOutletContext]="{ $implicit: playerGame }"></ng-container>
          </ng-template>
          <ng-template #empty>
            <div class="empty-list">Add a player to start</div>
          </ng-template>
        </p-orderList>
        <div class="flex-grow gap-8 width-100">
          <app-calendar
            formControlName="Date"
            label="Date"
            [entityType]="entityType"
            [hiddenFields]="hideFields"></app-calendar>
          <app-textinput
            formControlName="Players"
            label="Players"
            [entityType]="entityType"
            [hiddenFields]="hideFields"
            inputType="number"></app-textinput>
        </div>

        <app-tags
          formControlName="Tags"
          label="Tags"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options$]="tagList$"></app-tags>

        <app-textarea formControlName="Notes" [entityType]="entityType" [hiddenFields]="hideFields"></app-textarea>
      </form>
      <div class="flex dialog-footer">
        <div>
          @if (isNew === false) {
            <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
          }
        </div>
        <div>
          <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
          <p-button label="Save" [outlined]="true" (onClick)="submit()"></p-button>
        </div>
      </div>
    </div>
  }
</p-dialog>

<ng-template #orderListItem let-playerGame>
  <div class="list-items">
    <div class="flex-column-100">
      <div class="flex gap-8 justify-content-space-between">
        <span class="font-bold flex-nowrap gap-8">
          @switch (game?.BoardGame?.ScoreType) {
            <!-- POINTS -->
            @case ('points') {
              @if (playerGame.Points === maxPoints) {
                <i class="pi pi-trophy" style="color: gold"></i>
              } @else {
                <div class="empty-trophy"></div>
              }
              <span class="player-name">
                {{ playerGame.Player?.Name }}: {{ playerGame.Points | score: game?.BoardGame }}
              </span>
            }
            <!-- RANK -->
            @case ('rank') {
              @if (playerGame.Points !== null && playerGame.Points < 3) {
                <i class="pi pi-trophy" [ngStyle]="{ color: getTrophyColor(playerGame) }"></i>
              }
              @if (playerGame.Points >= 3) {
                <div class="empty-trophy"></div>
              }
              <span [ngClass]="{ DNF: playerGame.DNF }">{{ playerGame.Player?.Name }}</span>
            }
            <!-- WIN/LOSE -->
            @case ('win-lose') {
              <p-checkbox
                [ngModel]="playerGame.Points === 1"
                [ngModelOptions]="{ standalone: true }"
                (onChange)="playerGame.Points = $event.checked ? 1 : 0; this.updateScoring()"
                [binary]="true" />
              @if (playerGame.Points === 1) {
                <i class="pi pi-trophy" style="color: gold"></i>
              }
              @if (playerGame.Points !== 1) {
                <div class="empty-trophy"></div>
              }
              <span>{{ playerGame.Player?.Name }}</span>
            }
          }
        </span>
        <div class="flex gap-8 edit-btns">
          @if (playerGame.Tags.length > 1) {
            <p-button
              [pTooltip]="tooltipContent"
              severity="help"
              [rounded]="true"
              [text]="true"
              icon="pi pi-tags"></p-button>
            <ng-template #tooltipContent>
              <div class="flex items-center">
                @for (tag of playerGame.Tags; track tag) {
                  <app-tag [tag]="tag"></app-tag>
                }
              </div>
            </ng-template>
          } @else if (playerGame.Tags.length > 0) {
            <app-tag [tag]="playerGame.Tags[0]"></app-tag>
          }
          <p-button
            (onClick)="editPlayerGame(playerGame)"
            [rounded]="true"
            [text]="true"
            icon="pi pi-pencil"></p-button>
          <p-button
            (onClick)="deletePlayerGame(playerGame)"
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"></p-button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
