<app-editor-board-game
  [editorVisible]="boardGameEditorVisible"
  [boardGame]="boardGameEdit"
  [standalone]="true"
  (closeEditor)="boardGameEditorVisible = false"></app-editor-board-game>

<app-editor-player-game
  #playerGameEditor
  [editorVisible]="playerGameEditorVisible"
  [playerGame]="playerGameEdit"
  [scoreType]="game?.BoardGame?.ScoreType"
  (closeEditor)="savePlayerGame($event)"
  (deleteEntity)="deletePlayerGame($event)"></app-editor-player-game>

<p-dialog
  [header]="title"
  [visible]="editorVisible"
  (visibleChange)="closeEditor.emit()"
  [modal]="true"
  [style]="{ width: '650px', 'min-width': '300px', 'max-height': 'calc(100% - 60px)' }"
  [draggable]="false"
  position="bottom">
  <div class="form" #gameEditDialog>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <!-- BoardGame -->
      <div class="flex gap-4 justify-content-space-between">
        <app-dropdown
          style="flex-grow: 1"
          formControlName="BoardGameId"
          label="BoardGame"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [options]="(boardGameList$ | async) ?? []"
          [showClear]="false"
          optionLabel="Name"
          optionValue="BoardGameId"></app-dropdown>
        <p-button (onClick)="addBoardGame()" pTooltip="New Game" icon="pi pi-plus"></p-button>
      </div>
      <p-orderList
        [value]="playerGames"
        [selection]="selectedPlayerGames"
        [dragdrop]="game?.BoardGame?.ScoreType === 'rank'"
        [responsive]="true"
        [metaKeySelection]="false"
        (onReorder)="updateOrdering()"
        (selectionChange)="onPlayerSelection($event)"
        [ngClass]="{ 'can-order': game?.BoardGame?.ScoreType === 'rank' }">
        <ng-template #header>
          <div class="order-list-header flex justify-content-space-between">
            <div class="p-orderlist-title">Players</div>
            <p-button class="add-btn" (onClick)="editPlayerGame()" pTooltip="Add Player" icon="pi pi-plus"></p-button>
          </div>
          <div #addPointGroup class="add-point-group">
            @if (selectedPlayerGames.length > 0 && game?.BoardGame?.ScoreType === 'points') {
              @for (adjust of pointGroupButtonValues; track adjust) {
                <div class="button-group">
                  <p-button label="+{{ adjust }}" variant="outlined" severity="success" (onClick)="addPoints(adjust)" />
                  <p-button
                    label="-{{ adjust }}"
                    variant="outlined"
                    severity="warn"
                    (onClick)="addPoints(-1 * adjust)" />
                </div>
              }

              <div class="add-point-group-spacer"></div>

              <div class="button-group">
                <p-button label="+-" variant="outlined" severity="info" (onClick)="customPoints()" />
                <p-button label="=0" variant="outlined" severity="danger" (onClick)="setPoints(0)" />
              </div>
            }
          </div>
        </ng-template>
        <ng-template let-playerGame #item>
          <ng-container
            [ngTemplateOutlet]="orderListItem"
            [ngTemplateOutletContext]="{ $implicit: playerGame }"></ng-container>
        </ng-template>
        <ng-template #empty>
          <div class="empty-list">Add a player to start</div>
        </ng-template>
      </p-orderList>
      <div class="flex-grow gap-8 width-100">
        <app-calendar
          formControlName="Date"
          label="Date"
          [entityType]="entityType"
          [hiddenFields]="hideFields"></app-calendar>
        <app-number-input
          formControlName="Players"
          label="Players"
          [entityType]="entityType"
          [hiddenFields]="hideFields"
          [locked]="true"
          [maxFractionDigits]="0"></app-number-input>
      </div>

      <app-tags
        formControlName="Tags"
        label="Tags"
        [entityType]="entityType"
        [hiddenFields]="hideFields"
        [options$]="tagList$"></app-tags>

      <app-textarea formControlName="Notes" [entityType]="entityType" [hiddenFields]="hideFields"></app-textarea>
    </form>
    <div class="flex dialog-footer">
      <div>
        @if (isNew === false) {
          <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
        }
      </div>
      <div>
        <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
        <p-button label="Save" [outlined]="true" (onClick)="submit()"></p-button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="showCustomPointsDialog" [modal]="true" [style]="{ width: '25rem' }" header="Adjust Points">
  <div class="custom-point-adjustment">
    <p-floatlabel variant="on">
      <p-inputnumber
        [autofocus]="true"
        [(ngModel)]="customPointAdjustment"
        inputId="customPointAdjustment"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="10" />
      <label for="customPointAdjustment">Points</label>
    </p-floatlabel>
  </div>
  <ng-template #footer>
    <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="showCustomPointsDialog = false" />
    <p-button
      label="Apply"
      [outlined]="true"
      severity="success"
      (onClick)="addPoints(customPointAdjustment); showCustomPointsDialog = false" />
  </ng-template>
</p-dialog>

<ng-template #orderListItem let-playerGame>
  <div class="list-items">
    <div class="flex-column-100">
      <div class="flex gap-8 justify-content-space-between">
        <span class="font-bold flex-nowrap gap-8">
          @switch (game?.BoardGame?.ScoreType) {
            <!-- POINTS -->
            @case ('points') {
              @if (playerGame.VirtualPoints === maxVirtualPoints) {
                <i class="pi pi-trophy" style="color: gold"></i>
              } @else {
                <div class="empty-trophy"></div>
              }
              @if (showTiebreaker && playerGame.Points === maxPoints) {
                <p-checkbox
                  pTooltip="Tie breaker winner."
                  [ngModel]="playerGame.TieBreaker"
                  (onChange)="tieBreak(playerGame, $event.checked)"
                  [binary]="true" />
              }
              <span class="player-name">
                {{ playerGame.DisplayName }}: {{ playerGame.Points | number: '1.0-3' | score: game?.BoardGame }}
              </span>
            }
            <!-- RANK -->
            @case ('rank') {
              @if (playerGame.Points !== null && playerGame.Points < 3) {
                <i class="pi pi-trophy" [ngStyle]="{ color: getTrophyColor(playerGame) }"></i>
              } @else {
                <div class="empty-trophy"></div>
              }
              <span [ngClass]="{ DNF: playerGame.DNF }">{{ playerGame.DisplayName }}</span>
            }
            <!-- WIN/LOSE -->
            @case ('win-lose') {
              <p-checkbox
                [ngModel]="playerGame.Points === 1"
                (onChange)="playerGame.Points = $event.checked ? 1 : 0; this.updateScoring()"
                [binary]="true" />
              @if (playerGame.Points === 1) {
                <i class="pi pi-trophy" style="color: gold"></i>
              } @else {
                <div class="empty-trophy"></div>
              }
              <span>{{ playerGame.DisplayName }}</span>
            }
          }
        </span>
        <div class="flex gap-8 edit-btns">
          @if (playerGame.Tags.length > 1) {
            <p-button
              [pTooltip]="tooltipContent"
              severity="help"
              [rounded]="true"
              [text]="true"
              icon="pi pi-tags"></p-button>
            <ng-template #tooltipContent>
              <div class="flex items-center">
                @for (tag of playerGame.Tags; track tag) {
                  <app-tag [tag]="tag"></app-tag>
                }
              </div>
            </ng-template>
          } @else if (playerGame.Tags.length > 0) {
            <app-tag [tag]="playerGame.Tags[0]"></app-tag>
          }
          <p-button
            (onClick)="editPlayerGame(playerGame)"
            [rounded]="true"
            [text]="true"
            icon="pi pi-pencil"></p-button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
