:host ::ng-deep {
  .p-colorpicker {
    align-self: center;
    margin-top: 4px;
    border: solid 4px white;
    border-radius: 8px;
  }

  .club-users-wrapper {
    border: solid 1px var(--p-surface-600);
    border-radius: 8px;
    > div {
      padding: 0 8px;
      align-items: center;
    }
    table {
      margin-bottom: 4px;
      tbody tr td {
        border: solid 0 var(--p-surface-600);
        border-top-width: 1px;
      }
    }
  }
}
