<!-- In der clurb we all fam -->
<app-dialog [title]="title" [visible]="editorVisible" (visibleChange)="closeEditor.emit()" [editor]="true">
  @if (formGroup && club) {
    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submit(false)">
        <app-club-title
          [color]="formGroup.value.Color"
          [bgColor]="bgColor"
          [name]="formGroup.value.Name"
          [font]="formGroup.value.Font"
          fontSize="50px"></app-club-title>
        <app-textinput
          formControlName="Name"
          label="Club Name"
          [entityType]="entityType"
          [appHide]="hideFields"></app-textinput>

        <app-textarea
          formControlName="Summary"
          label="Summary"
          [entityType]="entityType"
          [appHide]="hideFields"></app-textarea>

        <app-checkbox formControlName="Public" label="Is Public"></app-checkbox>

        <div class="club-users-wrapper">
          <div class="flex justify-content-space-between">
            <h2>Managers/Admins</h2>
            <p-button
              label="Add New"
              [outlined]="true"
              severity="primary"
              (onClick)="addUser()"
              [disabled]="!admin"></p-button>
          </div>
          <p-table [value]="users" [stripedRows]="true" size="small">
            <ng-template #header>
              <tr>
                <th id="username">Name</th>
                <th id="isAdmin">Admin</th>
                <th id="toDelete">Delete</th>
              </tr>
            </ng-template>
            <ng-template #body let-user>
              <ng-component [ngTemplateOutlet]="userRow" [ngTemplateOutletContext]="{ $implicit: user }"></ng-component>
            </ng-template>
          </p-table>
        </div>

        <div class="flex align-center gap-4">
          <p-colorpicker
            [ngStyle]="{ 'border-color': bgColor }"
            [(ngModel)]="formGroup.value.Color"
            (onChange)="setColor($event.value)"
            [ngModelOptions]="{ standalone: true }"
            defaultColor="000000" />
          <app-textinput formControlName="Color" [entityType]="entityType" [appHide]="hideFields"></app-textinput>

          @for (preset of presetColors; track preset) {
            <p-button variant="outlined" [severity]="preset.severity" (onClick)="setColor(preset.color)">
              {{ [preset.text] }}
            </p-button>
          }
        </div>

        <app-dropdown
          [entityType]="entityType"
          formControlName="Font"
          [options]="presetFonts"
          [showClear]="true"
          label="Font - (Default) Robot, sans-serif"></app-dropdown>
      </form>
    </div>
  }
  <ng-container class="dialog-footer">
    @if (formGroup && club) {
      <div>
        @if (club.Admin) {
          <p-button label="Delete" [outlined]="true" severity="danger" (onClick)="toDeleteEntity()"></p-button>
        }
      </div>
      <div>
        <p-button label="Cancel" [outlined]="true" severity="secondary" (onClick)="closeEditor.emit()"></p-button>
        <p-button label="Save" [outlined]="true" (onClick)="submit(false)"></p-button>
        <p-button label="Save & Close" [outlined]="true" (onClick)="submit(true)"></p-button>
      </div>
    }
  </ng-container>
</app-dialog>

<ng-template #userRow let-user>
  <tr>
    <td>
      @if (user.UserId === '') {
        <input type="text" pInputText [(ngModel)]="user.usernameEmail" [ngModelOptions]="{ standalone: true }" />
      } @else if (user.UserId === userId) {
        {{ user.usernameEmail }} (YOU)
      } @else {
        {{ user.usernameEmail }}
      }
    </td>
    <td>
      <p-checkbox
        [(ngModel)]="user.Admin"
        [binary]="true"
        [ngModelOptions]="{ standalone: true }"
        [disabled]="user.UserId === userId || !admin"></p-checkbox>
    </td>

    <td>
      <p-checkbox
        [(ngModel)]="user.toDelete"
        [binary]="true"
        [ngModelOptions]="{ standalone: true }"
        [invalid]="user.toDelete"
        [disabled]="user.UserId === userId || !admin"></p-checkbox>
    </td>
  </tr>
</ng-template>
